<h2>Pagina de registro de todos los usuarios</h2>

<form action="/auth/signup" method="post">

    <label for="username">Nombre de Usuario:</label>
    <input type="text" name="username">

    <br>

    <label for="email">Correo Electronico:</label>
    <input type="email" name="email">

    <br>

    <label for="password">Contraseña:</label>
    <input type="password" name="password">

    <br>

    <p>

        Selecciona tipo de registro<br>

        <label><input type="radio" name="role" value="Cliente" checked> Cliente</label><br>

        <label><input type="radio" name="role" value="Vendedor"> Vendedor</label><br>

        

    </p>

    {{#if this.errorMessage}}
      <p class="error">{{this.errorMessage}}</p>
    {{/if}}

    <button>Registrarse</button>


  </form>

