<div id="registro" class="mt-5 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
  <h2 class="text-center">Pagina de registro</h2>
  <img class="img-fluid mx-auto d-block rounded-circle"
      src="../images/logo.png" width="400"/>
  <form action="/auth/signup" method="post">
      <div class="form-group">
        <label for="username">Nombre de Usuario:</label>
        <input class="form-control" type="text" name="username" placeholder="introduce tu nombre de usuario/empresa">
      </div>
      <div class="form-group">
        <label for="email">Correo Electronico:</label>
        <input class="form-control" type="email" name="email" placeholder="introduce tu correo electrónico">
      </div>
      <div class="form-group">
        <label for="password">Contraseña:</label>
        <input class="form-control" type="password" name="password" placeholder="introduce una clave de acceso">
      </div>
            <div class="form-group">
        <p>
            Selecciona tipo de registro<br>
            <label><input type="radio" name="role" value="Cliente" checked> Cliente</label><br>
            <label><input type="radio" name="role" value="Vendedor"> Vendedor</label><br>
        </p>
      </div>
      {{#if this.errorMessage}}
        <p class="error">{{this.errorMessage}}</p>
      {{/if}}
      <button class="btn btn-warning mb-2" >Registrarse</button>
    </form>
</div>

