<div id="container-product">
    
    {{!-- BUCLE DE PRODUCTOS --}}
    <div id="product">
        {{!-- productos --}}
        <img src="/images/IA.jpg" alt="IA" width="100px">
        <br>
        <h3>Nombre del producto</h3>
        <h5>Precio</h2>
        <br>
        <p>Descripcion</p>
    </div>

</div>