<!DOCTYPE html>
<html lang="en">

   <head>
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <meta http-equiv="X-UA-Compatible" content="ie=edge">
      <title>{{appTitle}}</title>
      <link rel="stylesheet" href="/stylesheets/style.css" />
   </head>

   <body>

      <div >
         <nav id="content-nav">
            <a href="/">Home</a>
            <a href="/auth/signup">Registro</a>
            <a href="/auth/login">Login</a>
            <a href="/auth/logout">test Cerrar sesion</a>
            <a href="/user/perfVendedor">test Perfil vendedor</a>
            <a href="/user/perfVendedor/update">test Editar Perfil Vendedor</a>
            <a href="/user/perfCliente">test Perfil cliente</a>
            {{!-- <a href="/user/perfCliente/update">test Editar Perfil Cliente</a> --}}

         </nav>
      </div>

    
      
      {{{body}}}

        <div>
         <footer>
            <p>Footer</p>
         </footer>
      </div>

      <script src="/js/script.js"></script>
   </body>

</html>