body {
  margin: 0px;
  padding: 10px;

}

a {
  color: #00b7ff;
}

.bg-dark{
  background-color: rgb(54, 54, 54);
}

/* h1 {
  color: 15px;
} */

/* #content-nav{
  display: flex;
  justify-content: row;
  gap: 30px;
  margin-bottom: 20px;
} */

/* .nav-link{
  font-weight: 600;

}

#container-product{
  display: flex;
  justify-content: row;
  gap: 30px;
  
}

#product{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: lightblue;
  border: solid 2px black;
  border-radius: 15px;
  padding: 5px;
}

#container-vendedor{
  display: flex;
  flex-direction: row;
} */