
<div class="mt-5 col-lg-4 offset-lg-4 col-md-6 offset-md-3 col-12">
  <form action="/user/perfCliente/update" method="post">
    <div class="form-group">
      <label for="username">Nombre de Usuario</label>
      <input class="form-control" type="text" name="username" value="{{username}}">
    </div>
    <br>
    <div class="form-group">
      <label for="email">Correo Electronico</label>
      <input class="form-control" type="text" name="email" value="{{email}}">
    </div>
    <br>
    <div class="form-group">
      <label for="password">Introduce nueva contraseña</label>
      <input class="form-control" type="text" name="password">
    </div>
    <br>
      {{#if this.errorMessage}}
        <p class="error">{{this.errorMessage}}</p>
      {{/if}}
    <br>
      <button class="btn btn-warning mb-2">Actualizar</button>
    <br>
  </form>
    <a href="/user/perfCliente">
      <button class="btn btn-warning mb-2">Atras</button>
    </a>
    <br>
    <form action= "/user/delete" method="post" >
      <button class="btn btn-danger mb-2">Eliminar Usuario</button>
    </form>
</div>

