{{! <h2>Pagina de Perfil privado del VENDEDOR</h2> }}

<div id="container-vendedor">

  {{! Contenedor Mensajes de clientes }}
  <div>
    {{! Bucle de mensajes }}
    <h1>Bucle de mensajes de clientes</h1>

  </div>

  {{! contenedor de perfil }}
   <div id="container-product">

        {{#each allProduct}}
            <div id="product">
                {{!-- <img src="/images/IA.jpg" alt="IA" width="100px"> --}}
                <br>
                <h3>{{this.nombre}}</h3>
                <h5>{{this.precio}}</h2>
                <br>
                <p>{{this.descripcion}}</p>
            </div>
        {{/each}}

   </div> 

    <a href="/product/create-product"><button>Añadir producto</button></a>
  
</div>