{{!-- <h2>Pagina de Perfil privado del VENDEDOR</h2> --}}


<div id="container-vendedor">

    {{!-- Contenedor Mensajes de clientes --}}
    <div>
        {{!-- Bucle de mensajes --}}
        <h1>Bucle de mensajes de clientes</h1>

    </div>

    {{!-- contenedor de perfil --}}
    <div>
        <h1>Bucle de productos</h1>
        
        <a href="/product/create-product"><button>Añadir producto</button></a>
    </div>

</div>